.status.status--in-transit{
  background-color: rgba(33,150,243,.85);
}

.status.status--cancelled{
  background-color: rgba(244,67,54,.85);
}

.status.status--active{
  background-color:  rgba(76,175,80,.85); 

}

.status.status--paused{
 background-color: rgba(255,152,0,.85); 
 
}

.status.status--abandoned{
background-color: rgba(100, 81.2, 62, .85); 
}

