
 .table-discounts {
  .status--in-transit{
    background-color: rgba(33,150,243,.85) !important;
    color: #FFF !important;
  }

  
  .status--not-delivered{
    background-color: rgba(244,67,54,.85) !important;
    color: #FFF !important;
  }
  
  .status--delivered{
    background-color:  rgba(76,175,80,.85) !important;
    color: #FFF !important;
  }
 }