.page-container__side-nav{
  position: fixed;
  padding-top: 64px;
  left: 0;
  bottom: 0;
  width: 25rem;
  z-index: 10;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  border-right: 1px solid rgba(0,0,0,.1);
}

.padding-left-nested-item{
  padding-left: 2.25em !important
}

.side-nav-icon{
  fill-opacity: .54;
}