// @import './colors';
// @import './forms';
// @import './bootstrap-overrides';

html, 
body, 
#react-root{
  height: 100%;
  min-height: 100%;
}

// *{
//  outline: 1px solid red;
// }


body{ 
  background: #FAFAFA;
  margin: 0;
  padding: 0;
}

.appbar-primary{
  position: fixed !important;
  z-index: 20 !important;
  top: 0;
  left: 0;
  right:0;
}


//snackbar
#message-id{
  width: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loading-bar--data{
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
}


.link--no-hover,
.link--no-hover:hover{
  
  text-decoration: none;
}

// .SideContent{
//   padding-top: 100px !important;
//   margin: 0 0 0 25rem !important;
//   width: auto !important;
//   padding-top: 3rem;
// }

// .SideContent--shrinked{ padding-top: 0; }

.SideContent--spacer-2x--horizontal {
  padding-left: 1.5em;
  padding-right: 1.5em
}

.SideContent--spacer-2x--top { 
  padding-top: 40px;
}

.table--hover-cursor tr{
    cursor: pointer 
}

.row-selected{
  background: #eeeeee !important
}

.appbar--no-auth{
  background-color: #263238 !important;
}  

.appbar--no-shadow{
  box-shadow: none !important;
  background-color: #263238 !important;
  
}

.appbar--no-background{
  background: none !important;
  color: #333 !important;
}

.button,
.button-secondary{
  // text-transform: none !important
}

.button-secondary--top{
  // padding-left: 0 !important;
  position: relative !important;
  padding: 5px 8px 5px 0 !important;
  left: -5px !important;
  color: rgba(0, 0, 0, 0.54) !important;
  font-weight: 500 !important;
}

.page-container__side-nav{
  background: #FFFFFF;
  height: 100%;
}

.table-container{
  width: 100%;
  position: relative;

  tbody tr{
    cursor: pointer;
  }
  // margin-top: 3rem;
}

label.error{
  display: inline-block;
  margin-top: 5px;
  color: rgb(211, 47, 47);
  font-family: "Roboto", sans-serif
}

.table-head-col-hover:hover{
  cursor: pointer;
}

.paper-for-fields{
  padding: 3rem !important;
  position: relative !important
}

.autoinput-icon,
.autosuggest-icon{
  position: absolute !important;
  right: 2.5em !important;
  fill-opacity: 0.54 !important;
}

.autoinput-icon--search.autoinput-icon{
  position: absolute;
  right: 1.5em !important;
}

.autoinput-icon--clear{
  fill-opacity: .54 !important;
  top: 33% !important;
  right: 1.5em !important;
  position: absolute !important;
  z-index: 20 !important;
}

.autoinput{
  position: relative !important;
  padding-right: 0 !important;
}

.chip--bordered{
  background: none !important;
  border: 2px dashed #999 !important;
  // text-transform: capitalize;
  color: #999 !important;
}

.divider--space-x{
  margin-bottom: 50px !important;
}

.font-medium{
  font-weight: 500 !important
}

.appbar-no-auth{
  box-shadow: none;
  .logout-icon{
    display: none;
  }
}

button{
  box-shadow: none !important;
}

.btn.btn-primary:disabled{
  background: #e0e0e0 !important;
}

.btn-primary{
  background: #000 !important;
  color: #fff !important
}

.btn-danger{
  background: rgb(211, 47, 47) !important;
}

#react-autowhatever-1,
#react-autowhatever-2,
#react-autowhatever{
  z-index: 2;
}

.input-box{
  font-size: 16px
}

.input-box:after,
.input-box:before{
  display: none;
}

.headline,
.MuiTypography-headline-125{
  font-size: 24px !important;
}

.title{
  font-size: 21px !important;
}

.body2{
  font-size: 14px !important;
}

.body1{
  font-size: 14px !important;
}

.subheading,
.subheading .subheading
.subheading h3,
.MuiTypography-subheading-127{
  font-size: 16px !important;
}

.display1{
  font-size: 34px !important;
}

.display2{
  font-size: 45px !important;
}

div[role^="menuitem"]{
  font-size: 14px !important;
}

.font-uppercase{
  text-transform: uppercase !important;
}

// .button--bordered{
//   border-width: 2px !important;
//   border-style: solid !important;
//   border-radius: 2px !important;
// }

// .button--bordered--accent{
//   border-color: #ff4081 !important
// }

.table-container--delete-rows-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;

  background: rgb(211, 47, 47);
  color: #fff;
  // width: 100%;
 
  padding: 12px 15px 12px 25px;
  position: absolute;
  top: -62px;  
  left: 0;
  right: 0;
}

.delete-rows-container--delete-icon{
  cursor: pointer;
}

.login-container{
  width: 100%;
  max-width: 380px;
  padding: 40px !important;

  @media(min-width: 992px){
    // position: absolute;
    // z-index: 30;
    // transform: translate(-50%, -50%);
    // top: 50%;
    // left: 50%
  }
}

.logout-icon{
  fill: #FFFFFF
}

.logout-icon:hover{
  fill-opacity: 1 !important;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}