@import './colors';
@import './forms';
@import './bootstrap-overrides';

// *{
//   outline: 1px solid red
// }

.SideContent{
  margin: 0 0 0 25rem !important;
  width: auto !important;
}

.table--hover-cursor tr{
    cursor: pointer
  
}